---
import BaseLayout from "../layouts/BaseLayout.astro";

//loading layout 
---

<BaseLayout title="home">
  <h2>hello astro</h2>
  <p>this is top page</p>
</BaseLayout>

<!--
this part is the declear that means this page uses BaseLayout as a framework
the contents between<BaseLayout> and </BaseLayout> is in <slot /> of layout
-->


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>hello astro</h1>
	</body>
</html>
