---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>my astro site</h1>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <small>© 2026</small>
    </footer>
  </body>
</html>
